.profile {
    padding: 20px 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  color: black;
}

.profile.hasPhisicalAddress {
  border: 2px solid rgb(228, 162, 254);
  background-color: rgba(228, 162, 254, 0.208);
}

.title {
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 25px;
  margin-top: 0;
}

.fieldRow {
  font-size: 18px;
  line-height: 1.25;
  margin-bottom: 10px;
  margin-top: 0;
}

.online {
  color: green;
}

.offline {
  color: rgb(255, 102, 0);
}