.profile {
    padding: 20px 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  color: black;
}

.profile.hasPhisicalAddress {
  border: 2px solid rgb(228, 162, 254);
  background-color: rgba(228, 162, 254, 0.208);
}